{
    "ecmaFeatures": {
        "jsx": true,
        "modules": true
    },
    "env": {
        "browser": true,
        "es6": true,
        "node": true
    },
    "parser": "babel-eslint",
    "rules": {
        "quotes": ["error", "single"],
        "linebreak-style": ["error", "windows"],
        "strict": [2, "never"],
        "no-console":0,
        "indent": ["error", 4],
        "generator-star-spacing": 1,
        "object-shorthand": [2, "consistent"],
        "no-await-in-loop": 1,
        "arrow-parens": 0,
        "babel/new-cap": 0,
        "react/jsx-uses-react": 2,
        "react/jsx-uses-vars": 2,
        "react/react-in-jsx-scope": 2
    },
    "plugins": [
        "babel",
        "react"
    ]
}