@import "~styles/var.less";
.site {
    margin-top: @margin3;
    padding: @margin3;
    display: flex;
    flex-direction: column;
    label {
        margin-bottom: @margin3;
        p.title {
            margin-bottom: @margin1;
            color: @G90;
            font-size: 16px;
        }
        input, textarea {
            border: 1px solid @G70;
            padding: @margin1 @margin2;
            outline: none;
            border-radius: @margin1;
            font-size: 16px;
            max-width: 300px;
            min-width: 300px;
            color: @G90;
        }
        textarea {
            height: 100px;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    .nav {
        .list {
            margin-top: @margin3;
            border-radius: @margin2;
            cursor: pointer;
            cursor: -webkit-grab;
            display: flex;
            &.add {
                cursor: auto;
            }
            input {
                flex-grow: 1;
                &:first-child {
                    margin-right: @margin2;
                }
            }
            .icon {
                font-size: 24px;
                margin: 0 @margin3;
                color: @R30;
            }
            &.gu-transit {
            }
        }
    }
}
.gu-mirror {
    position: fixed !important;
    margin: 0 !important;
    z-index: 9999 !important;
    border-radius: @margin2;
    cursor: pointer;
    cursor: -webkit-grab;
    display: flex;
    opacity: 0.8;
    input {
        flex-grow: 1;
        &:first-child {
            margin-right: @margin2;
        }
    }
    .icon {
        font-size: 24px;
        margin: 0 @margin3;
        color: @R30;
    }
    &.gu-transit {
    }
}
.gu-hide {
  display: none !important;
}
.gu-unselectable {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}
.gu-transit {
    opacity: 0.2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20);
}