@import "~styles/var.less";

.article-post {
    max-width: 620px;
    padding: 0 @margin3;
    margin: @margin3 auto 0 auto;
    .header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        & .left, & .right {
            position: absolute;
            top: @margin3;
            .icon {
                cursor: pointer;
                color: @G90;
            }
        }
        & .left {
            left: @margin3;
            .icon {
                margin-right: @margin3;
                font-size: 22px;
            }
        }
        & .right {
            right: @margin3;
            .icon {
                margin-left: @margin3;
                font-size: 22px;
            }
        }
        .article-info {
            max-width: 620px;
            padding: 60px 16px 0 16px;
            margin: 0 auto 0 auto;
            background: #fff;
            .info {
                border-bottom: 1px solid @G30;
                padding: @margin1 0;
                .tag {
                    .icon {
                        color: @G90;
                    }
                    input[type=text] {
                        border: none;
                        outline: none;
                        margin-left: 12px;
                    }
                }
            }
            .title {
                margin-top: @margin2;
                padding: @margin2 0;
                input[type=text] {
                    font-size: @h2;
                    outline: none;
                    width: 100%;
                    border: none;
                    color: @G100;
                }
            }
        }
    }
    .container {
        margin-top: 140px;
        .cover {
            width: 100%;
            min-height:120px;
            background: @G30;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .title {
            margin-top: @margin3;
            input[type=text] {
                font-size: @h2 * 1.5;
                outline: none;
                width: 100%;
                border: none;
                color: @G100;
            }
        }
        .md {
            margin-top: @margin3;
            textarea {
                min-width: 100%;
                max-width: 100%;
                min-height: 440px;
                border: none;
                outline: none;
                color: @G100;
            }
        }
        .editor-toolbar {
            margin-top: @margin3;
            border: none;
            a {
                &:hover, &:active {
                    border: none;
                    background: @G80
                }
            }
        }
        .CodeMirror {
            border: none;
            cursor: text;
            padding: 0;
            &-scroll {
                min-height: 800px;
            }
        }
    }
}
.modal-view.modal-article-setting {
    background: rgba(255, 255, 255, 0.96);
}