@import "~styles/var.less";

.article-post {
    max-width: 620px;
    padding: 0 @margin3;
    margin: @margin3 + 62px auto 0 auto;
    .close {
        position: absolute;
        right: @margin3 * 2;
        top: @margin3 * 2;
        .icon {
            cursor: pointer;
            color: @G90;
            font-size: 32px;
            line-height: 18px;
        }
    }
    .container {
        .cover {
            width: 100%;
            min-height:120px;
            background: @G30;
            display: flex;
            justify-content: center;
            align-items: center;
            .icon {
                &.ion-image {
                    font-size: 62px;
                    color: @G50;
                }
            }
        }
        .title {
            margin-top: @margin3;
            input[type=text] {
                font-size: @h2 * 1.5;
                outline: none;
                width: 100%;
                border: none;
                color: @G100;
            }
        }
        .editor-toolbar {
            margin-top: @margin3;
            border: none;
            a {
                &:hover, &:active {
                    border: none;
                    background: @G80
                }
            }
        }
        .CodeMirror {
            border: none;
            cursor: text;
            padding: 0;
            &-scroll {
                min-height: 800px;
            }
        }
    }
    header.article {
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        min-height: 62px;
        width: 100%;
        border-top: 1px solid @G50;
        z-index: 999;
        background: @G20;
        padding: @margin3;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.05);
        .content {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            max-width: 1000px;
            width: 100%;
            margin: 0 auto;
        }
        .settings {
            margin-right: @margin3;
            font-size: 20px;
            color: @G100;
        }
        .push {
            color: #00ab6b;
        }
    }
}